     {% load static %}
     <link href="{% static 'css/base.css' %}" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <html>
      <body>
        <header>
           <h1><a href="{% url 'home' %}">To-Do List</a></h1>
        </header>

        <div class="nav-right">
            <a href="https://github.com/Moali97/ToDo-App" target="_blank" button type="button" class="btn btn-primary" >Github Code</a>
        </div>

        <div>

         {% block content %}
         {% endblock content %}

        </div>
      </body>
   </html>



