     {% load static %}
     <link href="{% static 'css/base.css' %}" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <html>
      <body>
        <header>
           <h1><a href="{% url 'home' %}">To-Do List</a></h1>
        </header>

        <div class="nav-right">
            <a href="https://github.com/Moali97/ToDo-App" target="_blank" button type="button" class="btn btn-primary" >Github Code</a>
          <!-- <a class="nav-link" href="https://github.com/Moali97/ToDo-App" target="_blank">GitHub</a> -->
        </div>

        <div>

         {% block content %}
         {% endblock content %}

        </div>
      </body>
   </html>



