{% extends 'base.html' %}

{% block content %}

   <span class="navigation" xmlns="http://www.w3.org/1999/html">
     <nav>
        <!--<a href="{% url 'post_new' %}">Add Item To List</a>-->
       <!--  <a href="{% url 'post_new' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add Item to List</a>-->
         <a href="{% url 'post_new' %}" button type="button" class="btn btn-primary">Add Item to List</button></a>
     </nav>
   </span>



 {% for list in all_posts_list %}


    <div class="card" style="width: 18rem;">
      <ul class="list-group list-group-flush">
      <a href="{% url 'post_detail' list.pk %}" li class="list-group-item">{{ list.title }} <br><font size="2">{{list.date_created}}</font> </li></a>
      </ul>
    </div>
<!-- <a href="{% url 'post_detail' list.pk %}">{{ list.title }} </a>-->


   <div class="delete">
         <a href="{% url 'delete' list.id %}">Delete Post</a><br>
   </div>

 {% endfor %}
 {% endblock content %}






